AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
AWS_SESSION_TOKEN=
AIRFLOW__WEBSERVER__SECRET_KEY=ooh_airflow_dev_secret_key

EMR_SERVERLESS_APPLICATION_ID=emr_serverless_application_id
EMR_SERVERLESS_EXECUTION_ROLE_ARN=emr_serverless_execution_role_arn

EMR_S3_CODE_PREFIX=s3://ooh-pipeline-dev-bronze/code
EMR_PY_FILES=s3://ooh-pipeline-dev-bronze/code/src.zip

# Data lake paths
BRONZE_URI=s3://ooh-pipeline-dev-bronze/raw
SILVER_URI=s3://ooh-pipeline-dev-silver/transactions
GOLD_URI=s3://ooh-pipeline-dev-gold
